<h2>
  <%= @product.title %>
</h2>
<p>
  <%= @product.description %>
</p>

Buy:
<%= simple_form_for @order do |f| %>
  <%= f.input :quantity %>
  <%= f.input :phone %>
  <%= f.input :name %>
  <%= f.input :comment %>
  <%= f.submit %>
<% end %>
